.art-thumbnail {
   width: 200px;
}

.art-carousel {
   height: 400px;
   background: darkgray;
}

.carousel-image {
   max-width: 100%;
   max-height: 400px;
   display: block;
   margin: 0 auto;
}