<h2>My Art</h2>
<ul class="art-features">
   <div class="art-carousel">
      <ngb-carousel *ngIf="art_features">
         <ng-template ngbSlide *ngFor="let feature of art_features" [id]="feature.id">
            <img class="carousel-image" [src]="feature.image.url">
         </ng-template>
      </ngb-carousel>
   </div>
   <li *ngFor="let feature of art_features">
      <a target="_blank" [href]="feature.image.url">
         <img class="art-thumbnail" [src]="feature.image.thumbnail || feature.image.url" />
      </a>
      <p>
        {{ feature.image.title }}
      </p>
   </li>
</ul>

